:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Shippori Antique", sans-serif;
  max-width: 100%;
  border: none;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

.bg0 {
  background-color: #222;
}

.bg1 {
  background-color: #30336b;
}

.bg2 {
  background-color: #4834d4;
}

.bg3 {
  background-color: #badc58;
}

.bg4 {
  background-color: #f0932b;
}

.bg5 {
  background-color: #22a6b3;
}

.bg6 {
  background-color: #b71540;
}

.bg7 {
  background-color: #78e08f;
}

.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  margin: 0 0.1rem;
  cursor: pointer;
  transition: all 0.4s;
}
